/node_modules
/public/hot
/public/storage
/public/js
/public/css
/public/fonts
/public/images
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/vuexy-shell-scripts
.idea
.vscode
.yandex_97480a501c3840c4.html
.azw0duma1vnwasmd16bqwnhdsdu2dq.html
.BingSiteAuth.xml
.google0329f43f78f7ae61.html
.googlec6dee2a9e1f3c804.html
.pinterest-f2b6c.html
