/*=========================================================================================
    File Name: _tailwindFixes.scss
    Description: partial- Tailwind Fixes
    ----------------------------------------------------------------------------------------
    Item Name: Ogur Uyanik Admin Dashboard
      Author: uyanik13
    Author URL: https://github.com/uyanik13
==========================================================================================*/


// button fix
button:focus {
    outline: none;
}
