/*=========================================================================================
    File Name: switch.scss
    Description: Switch page styles
    ----------------------------------------------------------------------------------------
    Item Name: Ogur Uyanik Admin Dashboard
      Author: uyanik13
    Author URL: https://github.com/uyanik13
==========================================================================================*/

.demo-alignment {
    li {
        margin-right: 2rem;
    }

    .vs-switch {
        margin-top: .5rem;
    }
}
